<% provide :title, t(".title") %>
<h1><%= t ".this" %></h1>
<p>
  <em><%= link_to t(".first"), Settings.LinkRails %></em>
  <%= t ".second" %>
  <%= link_to t(".third"), Settings.LinkBook %>
  <%= t ".fourth" %>
  <%= link_to t(".fiveth"), Settings.LinkSreen %>
  <%= t ".sixth" %>
  <%= link_to t(".seventh"), Settings.LinkRuby %>
  <%= t ".eighth" %>
</p>
