<% provide :title, t(".title") %>
<h1><%= t ".this" %></h1>
<p>
  <%= t ".first" %>
  <%= link_to t(".second"), Settings.LinkRailsHelp %>
  <%= t ".third" %>
  <%= link_to t(".fourth"), Settings.LinkRailsBook %>
  <em><%= t ".fiveth" %></em>
</p>
